{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [">1.5%"]
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-class-properties"
  ]
}
