{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "canonical",
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "16.8"
    }
  },
  "rules": {
    "babel/object-curly-spacing": "off",
    "import/no-named-as-default": "off",
    "react/destructuring-assignment": [
      "warn",
      "always",
      {
        "ignoreClassFields": true
      }
    ],
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-did-update-set-state": "off",
    "react/require-default-props": "off",
    "unicorn/prevent-abbreviations": "off"
  }
}
